// Variables
$primary-color: #007bff;
$secondary-color: #333;
$light-bg: #f4f7fa;
$border-color: #ddd;
$muted-color: #555;

body {
  font-family: 'Arial', sans-serif;
  background-color: $light-bg;
  color: $secondary-color;
}

header {
  h1 {
    font-size: 2.5rem;
    color: $primary-color;
    margin-bottom: 20px;
  }
}

.navbar {
  border-radius: 10px;
  margin-bottom: 30px;

  .navbar-brand {
    font-weight: bold;
    color: $primary-color !important;
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 1.1rem;
        color: $secondary-color;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.card {
  border-radius: 15px;
  border: 1px solid $border-color;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

  .card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .card-body {
    padding: 15px;

    .card-title {
      font-size: 1.25rem;
      font-weight: bold;
      color: $secondary-color;
      margin-bottom: 20px;
    }

    .card-text {
      font-size: 1rem;
      color: $muted-color;
    }
  }

  a.btn {
    background-color: $primary-color;
    color: white;
    border-radius: 10px;

    &:hover {
      background-color: darken($primary-color, 15%);
    }
  }
}

.form-label {
  font-weight: 600;
  color: $muted-color;
}

.form-control {
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #ccc;
  padding: 10px 15px;

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  &.textarea {
    resize: vertical;
  }
}

button[type="submit"] {
  background-color: $primary-color;
  border: none;
  padding: 12px 30px;
  font-size: 1rem;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;

  &:hover {
    background-color: darken($primary-color, 15%);
  }
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
  }

  .col-md-6.offset-md-3 {
    width: 100%;
  }

  .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
  }
}
